name: Windows build and Package

on: [workflow_dispatch, push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        os:
        #  - 'windows-2022'
          - 'windows-2025'
        configuration:
          - 'Debug'
          - 'Release'
          - 'Debug-MT'
          - 'Release-MT'
          - 'Debug-Hotplug'
          - 'Release-Hotplug'
          - 'Debug-Hotplug-MT'
          - 'Release-Hotplug-MT'
        architecture:
          - 'Win32'
          - 'x64'
          - 'ARM64'

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: clone
        run: |
          git clone https://github.com/trev90210/libusb
          cd libusb

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2
        

    
      - name: Configure Visual Studio and CMake
        working-directory: ${{runner.workspace}}
        run: |
            # setup the compiler
            cmd.exe /c "call `"C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat`" && set > %temp%\vcvars.txt"
            Get-Content "$env:temp\vcvars.txt" | Foreach-Object { if ($_ -match "^(.*?)=(.*)$") { Set-Content "env:\$($matches[1])" $matches[2] } }
            # run cmake, looks v141_xp Toolset requires VS 2019
            cmake -G "Visual Studio 17 2022" -A Win32 -S ExtIO_RTL -B build_ExtIO_RTL
      